/* Common style start */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --themeRed: #e43a47;
  --gray: #efefef;
}

html {
  scroll-behavior: smooth;
}

button,
body {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 14px;
  line-height: 26px;
}

.fullContainer {
  width: 100%;
}

.container {
  width: 1140px;
  margin: auto;
}

.sectionTitle {
  width: 300px;
  border-bottom: 3px solid var(--themeRed);
  text-align: center;
  font-size: 2rem;
  font-weight: 200;
  margin: 0 auto 50px;
  position: relative;
  padding: 10px 0;
  text-transform: uppercase;
}

.sectionTitle::after {
  display: inline-block;
  content: "";
  height: 15px;
  width: 15px;
  background-color: var(--themeRed);
  position: absolute;
  left: calc(50% - 10px);
  top: calc(75% - 7px);
  transform: rotate(45deg) translate(50%, 50%);
  border: 3px solid #fff;
}

section {
  padding: 100px 0;
  position: relative;
}

/* Common style end */

/* Home style start */

header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
}

header .container .logo {
  padding: 2px 0;
  height: 78px;
}

header .container .logo img {
  height: 100%;
  border-radius: 5px;
}

header nav ul {
  list-style-type: none;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  padding: 0 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 16px;
  color: #fff;
  transition: 0.5s;
}

header nav ul li a:hover {
  background-color: var(--themeRed);
}

.banner {
  min-height: 100vh;
  width: 100%;
  background-image: url(../imgs/banner.avif);
  background-size: cover;
  background-attachment: fixed;
}

.banner h1 {
  margin-top: 230px;
  display: inline-block;
  font-size: 3.5rem;
  /* color: blue; */
  text-shadow: 0 0 2px #000;
  /* width: 50%; */
  width: 60%;
  line-height: 4.2rem;
  font-weight: 100;
}

.banner h1 span {
  background-color: var(--themeRed);
  display: inline-block;
  line-height: 3.5rem;
  padding: 0 15px;
  font-weight: 600;
  border-radius: 5px;
}

.banner p {
  /* color: #fff; */
  width: 50%;
  text-shadow: 0 0 2px #000;
  margin-top: 10px;
}

.banner button {
  background-color: var(--themeRed);
  border: 0;
  outline: none;
  /* color: #fff; */
  padding: 10px 15px;
  margin-top: 20px;
  font-size: 13px;
  border-radius: 3px;
  font-weight: 600;
  transition: 1.5s;
}

.banner button:hover {
  cursor: pointer;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Home style end */

/* AboutSection style start */

/* #aboutSection img {
  margin: 15px auto;
} */

#aboutSection p {
  text-align: center;
  margin: 25px auto;
}

#aboutSection .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
  position: relative;
  height: 245px;
}

#aboutSection .cards > div {
  width: 350px;
  background-color: var(--gray);
  padding: 35px;
  color: #444;
  text-align: center;
  border-radius: 5px;
  height: 215px;
  border: 1px solid #ccc;
  transition: 0.6s;
}

#aboutSection .cards > div:hover {
  width: 380px;
  margin-top: -20px;
  border-color: var(--themeRed);
  padding: 55px;
  height: auto;
}

#aboutSection .cards > div .title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

#aboutSection .cards > div p {
  font-size: 14px;
  margin-top: 15px;
}

#aboutSection .cards > div button {
  border: 1px solid var(--themeRed);
  outline: none;
  padding: 7px 15px;
  margin-top: 15px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
}

#aboutSection .cards > div:hover button {
  background-color: var(--themeRed);
  color: #fff;
}

#aboutSection .cards button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* AboutSection style end */

/* Program Section start */

.programs {
  background-color: #e2e2e2;
}

.programs .boxContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}

.programs .boxContainer .box {
  background-color: #fff;
  text-align: center;
  padding-bottom: 25px;
  border-radius: 5px;
  box-shadow: 0 0 3px 0 #c5c5c5;
  position: relative;
  margin-bottom: 15px;
}

.programs .boxContainer .box .cardImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}

.programs .boxContainer .box .cardImage:after {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  filter: grayscale(100%);
  transition: 0.5s;
}

.programs .boxContainer .box:nth-child(1) .cardImage,
.programs .boxContainer .box:nth-child(1) .cardImage:after {
  background-image: url(imgs/jezyk_polski.webp);
}

.programs .boxContainer .box:nth-child(2) .cardImage,
.programs .boxContainer .box:nth-child(2) .cardImage:after {
  background-image: url(imgs/art2.webp);
}

.programs .boxContainer .box:nth-child(3) .cardImage,
.programs .boxContainer .box:nth-child(3) .cardImage:after {
  background-image: url(imgs/klub_literacki.webp);
}

.programs .boxContainer .box:nth-child(4) .cardImage,
.programs .boxContainer .box:nth-child(4) .cardImage:after {
  background-image: url(imgs/koncerty_main_foto.webp);
}

.programs .boxContainer .box:hover .cardImage::after {
  top: 100%;
}

.programs .boxContainer .box .programTitle {
  font-size: 16px;
  margin-top: 15px;
  font-weight: 600;
  color: #444
}

.programs .boxContainer .box button {
  position: absolute;
  left: 50%;
  background-color: var(--themeRed);
  color: #fff;
  transform: translate(-50%);
  bottom: -15px;
  border-radius: 60px;
  padding: 7px 15px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.programs .boxContainer .box button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Program Section end */

/* Military Section start */

.military {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.military .videoPlayer {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.military .sectionTitle {
  color: #fff;
  text-shadow: 0 0 4px #000;
}

.military .militaryContainer {
  position: absolute;
  background-color: #00000096;
  width: 600px;
  top: 35vh;
  color: #fff;
  text-shadow: 0 0 3px #000;
  padding: 30px;
}

.military .militaryContainer h3 {
  font-size: 35px;
  font-weight: 300;
}

.military .militaryContainer p {
  font-size: 15px;
  line-height: 20px;
  margin: 10px 0 30px;
}

.military .militaryContainer button {
  background-color: var(--themeRed);
  border: 0;
  color: #fff;
  padding: 10px 25px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  cursor: pointer;
  transition: 1s;
}

.military .militaryContainer button:hover {
  border-radius: 8px;
}

/* Military Section end */

/* Gallery Section start */
/* .concerts .concertsImages, */
.gallery .galleryContainer {
  column-count: 4;
  column-gap: 20px;
}

.concerts .concertsImages .item,
.gallery .galleryContainer .item {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.concerts .concertsImages img,
.gallery .galleryContainer img {
  width: 100%;
  display: block;
  transition: 0.5s;
}

.concerts .concertsImages .title,
.gallery .galleryContainer .title {
  position: absolute;
  background-color: var(--gray);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: bold;
  opacity: 0;
  z-index: 1;
  transition: 0.5s;
}

.concerts .concertsImages .item:hover .title,
.gallery .galleryContainer .item:hover .title {
  opacity: 1;
}

.concerts .concertsImages .item:hover img,
.gallery .galleryContainer .item:hover img {
  transform: scale(1.2);
}

/* Gallery Section end */

/* Join section start */

.join {
  background-image: url(imgs/pattern2.jpg);
  /* background-size: contain; */
  color: #fff;
  /* color: black; */
}

.join .joinTitle {
  font-size: 40px;
  font-weight: 100;
}

.join .joinTitle span {
  font-weight: 800;
}

.join button {
  padding: 7px 15px;
  margin-top: 20px;
  border: 0;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.join button.joinNow {
  margin-right: 10px;
  background-color: #424242;
  color: #fff;
}

.join button.donateNow {
  background-color: var(--gray);
}

.join p {
  font-size: 18px;
}

/* Join section end */

/* Footer start here */

footer {
  background-color: #181818;
  color: #7f7f7f;
  padding: 50px 0;
  font-size: 14px;
}

footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

footer .title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  border-bottom: 2px solid;
  margin-bottom: 30px;
  padding: 0 0 5px 0;
}

footer p {
  margin-bottom: 10px;
}

footer .linksContainer ul {
  list-style-type: none;
}

footer .linksContainer ul li a {
  text-decoration: none;
  color: #7f7f7f;
  margin-bottom: 10px;
  display: inline-block;
}

footer .newsLetterContainer img {
  height: 70px;
  margin-bottom: 11px;
  margin: 10px 50px; /* ! muszę innaczej wypośrodkować ! */
}

footer .newsLetterContainer input {
  background-color: transparent;
  border: 1px solid #7f7f7f;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  margin-top: 10px;
  color: #ccc;
  border-radius: 30px;
}

footer .conectContainer a {
  text-decoration: none;
  color: #7f7f7f;
}

/* Footer end here */

/* Responsive Code start from here */

@media screen and (max-width: 1140px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }

  .military .videoPlayer {
    width: 1280px;
  }
}

@media screen and (max-width: 1080px) {
  .banner h1 {
    margin-top: 200px;
  }

  #aboutSection .cards {
    justify-content: space-around;
    height: auto;
  }

  #aboutSection .cards > div {
    margin: 10px 0;
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    background-position-x: 45%;
  }

  .banner h1 {
    font-size: 2.5rem;
  }

  .programs .boxContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  header nav {
    position: relative;
    border: 2px solid #fff;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    border-radius: 5px;
  }

  header nav:after {
    top: 17px;
  }

  header nav:before {
    top: 7px;
  }

  header nav:after, header nav:before {
    content: "";
    height: 2px;
    width: 17px;
    background-color: #fff;
    display: block;
    position: absolute;
    left: 5px;
  }

  header nav ul {
    position: absolute;
    right: -400px;
    top: 53px;
    transition: 0.5s;
  }

  header nav:hover ul {
    right: 0;
  }

  header nav ul li {
    display: block;
  }

  header nav ul li a {
    width: 300px;
    background-color: rgba(0, 0, 0, 0.6);
  }

  .banner {
    background-position-x: 65%;
  }

  .banner p {
    font-size: 14px;
  }

  .banner p, .banner h1 {
    width: 70%;
  }

  #aboutSection .cards > div:hover {
    width: 350px;
  }

  .military .militaryContainer {
    width: 96%;
  }

  .military .militaryContainer h3 {
    font-size: 30px;
    line-height: 35px;
  }

  .military .militaryContainer p {
    margin: 10px 0 20px;
  }

  .gallery .galleryContainer {
    column-count: 2;
  }
}

@media screen and (max-width: 425px) {
  .banner h1 {
    margin-top: 150px;
    font-size: 2rem;
    line-height: 3rem;
  }

  .banner button {
    margin-bottom: 10px;
  }

  #aboutSection p {
    text-align: justify;
  }

  #aboutSection .cards > div:hover {
    width: 400px;
    margin-top: 10px;
    padding: 35px;
  }

  .programs .boxContainer {
    grid-template-columns: 1fr;
  }

  .military .videoPlayer {
    width: 1400px;
  }

  .military .militaryContainer {
    width: 93%;
  }

  .gallery .galleryContainer {
    column-count: 1;
  }

  footer .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 320px) {
  .military .militaryContainer h3 {
    font-size: 18px;
    line-height: 24px;
  }

  .banner h1 {
    margin-top: 100px;
  }
}

/* Responsive Code end here */

/* Support side */

.support-banner {
  min-height: 100vh;
  width: 80%;
  /* background-image: url(imgs/donation-7647719_1920.jpg); */
  background-size: cover;
  background-position: center;
}

.support p {
  margin: 25px auto;
  font-size: 18px;
}

.support .advice {
  background-color: rgba(228, 58, 71, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.support button {
  /* background-color: #e43a47; */
  background-color: var(--themeRed);
  color: #fff;
  padding: 10px 20px;
  /* border: none; */
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 20px;
}

.support button:hover {
  background-color: #c92c39;
  border: 1px solid black;
  border-radius: 8px;
}

/* Lenguage side */

.langContainer {
  display: flex;
}

.description {
  flex: 1;
  padding: 20px;
}

.description p {
  margin: 25px auto;
  font-size: 18px;
}

.langImages {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  gap: 10px;
}

.langImages img {
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.lang button {
  /* background-color: #e43a47; */
  background-color: var(--themeRed);
  color: #fff;
  padding: 10px 20px;
  /* border: none; */
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px 20px;
}

.lang button:hover {
  background-color: #c92c39;
  border: 1px solid black;
  border-radius: 8px;
}

/* Concerts Section starts MORE IN GALLERY SECTION */

.concerts .concertsImages {
  column-count: 3;
  column-gap: 20px;
}

.concerts .concertsContainer {
  margin: 50px;
  
}


/* Status Section start */
.statusContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 80px;
}

.document-link {
  font-size: 18px;
  color: #007bff;
  text-decoration: none;
  margin-bottom: 40px;
  transition: color 0.3s ease;
}

.document-link:hover {
  color: #0056b3;
}

#statusSecton .back-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#statusSecton .back-button:hover {
  background-color: #015fc4;
}

/* NEW STYLES */
.logo .logo-links {
  cursor: pointer;
}